.btn {
  display: block;
  margin-bottom: 10px;
}

.card {
  display: flex;
}

.poster {
  max-width: 400px;
  margin-right: 20px;
}

.list {
  list-style: none;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  color: blue;
}

.activeLink {
  composes: link;
  color: red;
}
