.form {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}

.item {
  text-align: center;
}

.link {
  color: black;
  text-decoration: none;
}

.img {
  margin-bottom: 10px;
}
